@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

